<div class="col-12">
  <div>
    <nb-card>
      <nb-card-header>
        <div class="d-flex justify-content-center">
          <h3>Resumen de los Cursos Realizados</h3>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="pb-3 col-12">
          <div class="row d-flex justify-content-between align-items-center">
            <nb-select placeholder="Selecciona el Formato" class="col-12 pb-2">
              <!-- <nb-option value="">Selecciona el formato</nb-option> -->
              <nb-option value="0" (click)="exportarExcel()">Exportar a Excel</nb-option>
              <nb-option value="1" (click)="exportarPDF()">Exportar a PDF</nb-option>
            </nb-select>
            <button class="btn btn-primary col-12 col-sm-12 col-md-4 col-lg-2 pb-2" (click)="cargarDatos();">Agregar Curso</button>

          </div>
        </div>
        <table #tablaCursos id="tablaCursos" class="table table-bordered" style="overflow: auto;">
          <thead>
            <tr>
              <th scope="col">id</th>
              <!-- <th scope="col">id</th> -->
              <th scope="col">Nombre</th>
              <th scope="col">Compañia</th>
              <th scope="col">Fecha de Publicacion</th>
              <th scope="col">Tecnología</th>
              <th scope="col">Tecnología 2</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let curso of cursos; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{curso.name}}</td>
              <td>{{curso.company}}</td>
              <td>{{curso.date | date: 'fullDate'}}</td>
              <td>{{curso.tech}}</td>
              <td>{{curso.tech}}</td>
              <td><button class="btn btn-warning" onclick="prompt('Desea editar el Curso')">Editar</button></td>
              <td><button class="btn btn-danger" onclick="prompt('Desea Eliminar el Curso')">Eliminar</button></td>
            </tr>
          </tbody>
        </table>

      </nb-card-body>
    </nb-card>
  </div>
</div>