<div class="container">
    <div class="row">
        Pie Works with bootstrap
    </div>

    <nb-card status="primary">
        <nb-card-header>
            card 1
        </nb-card-header>
        card 1 text
    </nb-card>

    <nb-card status="success">
        <nb-card-header>
            card 1
        </nb-card-header>
        card 1 text
    </nb-card>

    <nb-card status="danger">
        <nb-card-header>
            card 1
        </nb-card-header>
        card 1 text
    </nb-card>

    <nb-card status="info">
        <nb-card-header>
            card 1
        </nb-card-header>
        card 1 text
    </nb-card>

    <nb-card status="warning">
        <nb-card-header>
            card 1
        </nb-card-header>
        card 1 text
    </nb-card>

    <!-- <nb-card status="primary">
        <nb-card-header>
            card 1
        </nb-card-header>
        card 1 text
    </nb-card> -->
</div>