.header-container {
  width: 100%;
}
.logo {
  padding: 0 1.25rem;
  font-size: 1.2rem;
  white-space: nowrap;
  text-decoration: none;
}
.sidebar-toggle {
  text-decoration: none;
  cursor: pointer;
  color: nb-theme(text-hint-color);
  nb-icon {
    font-size: 1.75rem;
  }
}
.breadcrumb {
  background-color: transparent !important;
}
.content {
  // padding-top: 5px !important;
  height: 93vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.navigation {
  padding: 0%;
  margin-bottom: 5px;
}

.fullWidht {
  height: 100vh;
}

.noScroll {
  overflow: hidden;
}

// Animacion de la sidebar hay que colocarla dentro de un div para poder darle efecto a ese div
nb-sidebar,
nb-sidebar > div.main-container {
  transition: 0.2s !important;
  // min-width: 100px;
  // transition: ;
}

/deep/ .menu-item a {
  transition: 0.7s !important;
}

/deep/ .menu-item {
  span {
    pointer-events: none;
  }

  nb-icon {
    pointer-events: none;
  }
}
// Seccion principal seleccionada, solo afecta padres
/deep/ .menu-item > a.active {
  background-color: rgb(0, 153, 255) !important;
  border-color: #3366ff;
  color: white !important;
  padding-left: 1px;

  nb-icon {
    color: white !important;
  }
}

// Para el rollover de los elementos padres del menu
/deep/ .menu-item :hover {
  padding-left: 1px;
  nb-icon {
    color: black !important;
  }
}

// Para no afectar el color de la lista de hijos en los submenus
/deep/ .menu-item .menu-items {
  width: 150%;
  // background-color: white !important;
  // box-shadow: none !important;
  // border-top-left-radius: 0px;
  // border-bottom-left-radius: 0px;
  // // animation-duration: 0.15s;
  // border-left: none;
  // box-shadow: none;
}

// Eliminar comportamiento de hover en los hijos
/deep/ .menu-item .menu-items :hover {
  background-color: rgb(92, 192, 218) !important;
  color: White!important;
  box-shadow: none !important;
  width: 150%;

  // animation-duration: 0.15s;
  border-left: none;
  box-shadow: none;
}

// Para el rollover de los elementos hijos en los submenus
// /deep/ .menu-item li :hover {
//   background-color: rgba(96, 186, 246, 0.849)!important;
//   color: white!important;
//   // box-shadow: none; //0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 4px 20px 0px rgba(0, 0, 0, 0.14);
// }

// Seccion hijos seleccionados al darle clic hover
// /deep/ .menu-items li :hover :active {
//   a {
//     background-color: rgb(107, 107, 107) !important;
//     color:white!important;
//   }
// }

// Seccion hijos seleccionados al darle clic
/deep/ .menu-item > .menu-items > .menu-item a.active {
  // background-color: rgb(124, 251, 188)!important;
  // background-color: transparent !important;
  // box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 4px 20px 0px rgba(0, 0, 0, 0.14);
  color: white !important;
  box-shadow: none !important;
  // color: black!important;
  // border-top-right-radius: 150px!important;
  // border-bottom-right-radius: 150px!important;
}